$bg-color : #ff0000;
$full-width : 100%;
$url : '../images/';
$font-arial : 'Arial';
$font-oswald : 'Oswald', sans-serif;
$font-weight : 100;
$multiplier : 10px;
$bg-orange : #ff9900;
$border-orange : #cc6600;
$bg-blue : #02c7e6;
$border-blue : #0197b2;
$bg-green : #8db737;
$border-green : #719d18;
$bg-red : #cc0000;
$border-red: #a20303;